<% if (success && success.length) { %>
  <div class="flash-message flash-success">
    <span><%= success %></span>
    <button type="button" class="flash-close" onclick="this.parentElement.remove()">&times;</button>
  </div>
<% } %>

<% if (error && error.length) { %>
  <div class="flash-message flash-error">
    <span><%= error %></span>
    <button type="button" class="flash-close" onclick="this.parentElement.remove()">&times;</button>
  </div>
<% } %>
